[Desktop Entry]
Encoding=UTF-8
Name=Intensecoin Wallet
Comment=Intensecoin wallet
Exec=Intensecoin %U
Terminal=false
Type=Application
Icon=intensecoin
MimeType=x-scheme-handler/intensecoin;
Categories=Office;Finance;
