[Desktop Entry]
Encoding=UTF-8
Name=Karbo
GenericName=Karbo
Name[uk]=Карбованeць
Name[ru]=Карбованeц
Name[pl]=Karbowaneć
Name[be]=Карбованэць
Name[de]=Karbo
Name[es]=Karbo
Name[jp]=カルボ
Name[cn]=卡博币
Name[kr]=카르보
Comment=Karbo wallet
Comment[uk]=Гаманець Карбованца
Comment[ru]=Кошелек Карбованца
Comment[pl]=Portfel Karbowańca
Comment[be]=Кашалёк Карбованца
Comment[de]=Karbo Brieftasche
Comment[es]=Karbo Monedero
Comment[pt]=Carteira Karbo
Comment[fr]=Portefeuille Karbo
Comment[jp]=カルボ財布
Comment[cn]=卡博币钱包
Comment[kr]=카르보 지갑
Exec=karbowanec %U
Terminal=false
Type=Application
Icon=karbowanec
MimeType=x-scheme-handler/karbowanec;
Categories=Office;Finance;
Version=1.4.0
